
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}

<section id="about" class="wide-50 about-section division">
				<div class="container">	


					<!-- ABOUT TTITLE --> 	
					<div class="row m-bottom-30">
						<div class="col-md-8 about-title">
							
							<!-- Title -->
							
							 
							<h3 class="h3-thin text-center">
								1er. Congreso Internacional de Psicología Contemplativa y Habilidades para la Vida 

							</h3>
							<h4 class="h4-thin text-center">Hacia una educación consciente</h4>
							
							<p class="text-center">
								
								Del 28 al 30 de mayo de 2018
							</p>
							<p class="text-center">
							Escuela Nacional Preparatoria, Plantel 8, Miguel E. Schulz, Facultad de Psicología Universidad Nacional Autónoma de México
							</p>	
							<p class="text-center">
							<b>Proyecto PAPIME PE306017</b>
 
							</p>
							<p class="text-center">

								<b>Sede:</b>
								<br>Plantel 8, Miguel E. Schulz, ENPCDMX, México.

							</p>
							
						</div> 						
					</div>	

				
					<div class="row">
					
							
						<!-- ABOUT TEXT -->
						<div class="col-md-12 col-lg-8 about-txt m-bottom-50">

						
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">Objetivos Generales:</h4>
								
								
								
								<ol>
									<li>
										Analizar el impacto de la educación consciente en la formación integral.
									</li>
									<li>
										Compartir experiencias de investigación de las ciencias contemplativas aplicadas a la salud y la educación.
									</li>
									<li>
										Reflexionar sobre experiencias docentes en el desarrollo de habilidades para la vida. 
									</li>

								</ol>
								<br>
								<p>
									Dirigido a investigadores, docentes, estudiantes y personas interesadas en las ciencias contemplativas, la educación consciente y el desarrollo de habilidades para la vida en la formación integral.
								</p>

								<h4 class="h4-lg text-center">Bases</h4>

								<p>
									Se podrá participar como ponentes en las siguientes áreas:
								</p>

								<ol>
									<li>
										<b>Análisis teórico en Ciencias Contemplativas.</b> El objetivo es hacer una revisión crítica, sistemática y de calidad de publicaciones o trabajos relevantes en educación y salud que han aplicado metodologías vinculadas a las Ciencias Contemplativas.
									</li>
									<li>
										<b>Investigación en ciencias contemplativas.</b> El objetivo es presentar resultados de investigaciones empíricas donde se utilizaron metodologías vinculadas a las ciencias contemplativas.
									</li>
									<li>
										<b>Análisis teórico sobre el desarrollo de habilidades para la vida.</b> El objetivo es hacer una revisión crítica, sistemática y de calidad de publicaciones o trabajos relevantes sobre el desarrollo de habilidades para la vida en la formación integral. 

									</li>
									<li>
										<b>Innovación en educación.</b> El objetivo es presentar experiencias empíricas en las que se utilicen estrategias didácticas para desarrollar habilidades para la vida en la formación integral.
									</li>

								</ol>
							
								
								
							</div>
							
							
										


						</div> 
						
						
						
						
					</div> 	   <!-- End row -->						
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT -->	
	
{%endblock%}
{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}
