
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}

<section id="about" class="wide-50 about-section division">
				<div class="container">	


					<!-- ABOUT TTITLE --> 	
					<div class="row m-bottom-30">
						<div class="col-md-12 about-title">
							
							<!-- Title -->
							
							<h3 class="h3-thin text-center">
								IV Interinstitutional Teachers Meeting "Life Skills development in the Classroom" 
							</h3> 
							<h3 class="h3-thin text-center">
								1st International Congress of Contemplative Psychology and Life Skills: 

							</h3>
							<h4 class="h4-thin text-center">Towards a Conscious Education</h4>
							<h4 class="h4-thin text-center">From May 28 to May 30, 2018</h4>
							<br>
							<h4 class="h4-thin text-center">
								Faculty of Psychology and Plantel, 8 “Miguel E. Schulz” National Preparatory School
							</h4>
							<h4 class="h4-thin text-center">
								National Autonomous University of Mexico
							</h4>
							<h4 class="h4-thin text-center">
								Project PAPIME PE306017
							</h4>
							<br>
							<h4 class="h4-thin text-center">
								Headquarters: 

							</h4>
							<h4 class="h4-thin text-center">
								Plantel 8, Miguel E. Schulz, ENP
							</h4>
							<h4 class="h4-thin text-center">
								CDMX, México.

							</h4>
							
							
						</div> 						
					</div>	

				
					<div class="row">
					
							
						<!-- ABOUT TEXT -->
						<div class="col-md-12 about-txt m-bottom-50">

						
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">General objectives:</h4>
								
								
								
								<ol>
									<li>
										To analyze the impact of conscious education in the field of an individual’s integral education.
									</li>
									<li>
										To share experiences of searching in the Contemplative Sciences applied to health and education.
									</li>
									<li>
										To reflect on teaching experiences in the development of life skills for individual’s integral education.
									</li>

								</ol>
								<br>
								<p>
									Addressed to searchers, teachers, students and people interested in Contemplative Sciences and conscious education.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Basis of convocation</h4>

								<p>
									Attendees will be able to participate as speakers in the following areas:
								</p>

								<ol>
									<li>
										<b>Theoretical analysis in Contemplative Sciences.</b> The objective is to make a critical, systematic and quality review of publications or relevant works in education and health that have applied methodologies related to Contemplative Sciences.
									</li>
									<li>
										<b>Research in Contemplative Sciences.</b> The objective is to present results of empirical research that have applied methodologies related to Contemplative Sciences.
									</li>
									<li>
										<b>Theoretical analysis on the development of life skills.</b> The objective is to make a critical, systematic and quality review of relevant publications or works on the development of life skills in the individual’s integral education. 

									</li>
									<li>
										<b>Innovation in education.</b> The objective is to present empirical experiences using didactic strategies to develop life skills in the individual’s integral education.
									</li>

								</ol>
								<p>
									Works must be done individually or in teams of three participantes at the most.
								</p>
								<p>
									<b>Deadline for submission of contributions:</b> from December 18th, 2017 to May 7, 2018. On the Congress webpage: <b>cipchv.habilidadesparaadolescentes.com</b> 
								</p>
								<p>
									The final acceptance of papers will be announced by email from January 15th, to May 2018.
								</p>
								<p>
									<b>The maximum time allowed for each presentation </b> 15 minutes<br>
									<b>Management of the presentation:</b> The lecturer must be adjusted for a 10 minutes lecture plus a 5 minutes question-and-answer session with the audience.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Thematic lines</h4>
								<p>
									The responsible person for the lecture would select any of the thematic lines for the submission of his/her paper.
								</p>
								<ol>
									<li style="list-style-type:none"><b>1. Contemplative Sciences</b></li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Theoretical analysis (CCAT)

											</li>
											<li>
												Empirical research on Education (CCIE)

											</li>
											<li>
												Empirical research on Health (CCIS)

											</li>

										</ol>
									</li>
									<li style="list-style-type:none"><b>2. Life Skills</b> </li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Theoretical analysis on the development of life skills. (HVAT)
											</li>
											<li>
												Innovation on education.

											</li>
											<li style="list-style-type:none">
												<ol style="list-style-type:disc">
													<li>
														Teaching strategies and development of life skills (IEHVE)
													</li>
													<li>
														Social or emotional skills (IEHSE)

													</li>
													<li>
														Cognoscitive skills (IEHC)

													</li>
													<li>
														Science research skills (IEHIC)

													</li>
													<li>
														Research skills in human studies (IEHIH)

													</li>
													<li>
														Evaluation on life skills (IEEHV)
													</li>
												</ol>
											</li>
										</ol>
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Requirements</h4>
								<p>
									<b>
										Specific format for contributions:

									</b>
								</p>
								<ol>
									<li>
										The papers will have a minimum of 7 and maximum of 10 pages, which include abstract and references.
									</li>
									<li>
										Documents will be presented in a Word .docx format.	
									</li>
									<li>
										Documents must be written in just one column with 2.5 centimeters from the top, low, left and right margins.									
									</li>
									<li>
										Documents must be written 1.5 space between lines.										
									</li>
									<li>
										Use Arial size 12 font for the title and authors.
									</li>
									<li>
										Use Arial size 11 font for the full text.									
									</li>
									<li>
										The subtitles must be in bold letters aligned to the left margin.
									</li>
									<li>
										One centimeter indentation on the first line of every paragraph.
									</li>
									<li>
										Page number on the document is not required.
									</li>
									<li>
										The contribution should be produced in English or Spanish.
									</li>
									<li>
										The title, names of the authors (maximum of three authors for each document) and personal information must be centered on the first page, followed by the abstract and key words.
									</li>


								</ol>
								<p>
									<b>About the name of the digital file:</b>

								</p>								
								<ol>
									<li>
										It must be sent by the first author signed with their last name and first initial(s) followed by the passcode of the selected thematic line, e. g: Martínez_JC_(HVAT).
									</li>
									<li>
										If contributions include images fotographies or charts, these must be included in the text.
									</li>
									


								</ol>
								<p>
									<b>Kinds of contributions and sections to develop</b>

								</p>
								<ol>
									<li style="list-style-type:none">
										<b>1. Theoretical analysis:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												The abstract should have between 150 and 200 words
											</li>
											<li>
												Key words should be between 2 and 5


											</li>
											<li>
												Introduction
											</li>
											<li>
												Main objective

											</li>
											<li>
												Development
											</li>
											<li>
												Conclusions

											</li>
											<li>
												References in APA format
											</li>
										</ol>	
									</li>
								</ol>

								<ol>
									<li style="list-style-type:none">
										<b>2. Empirical research:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Abstract between 150 and 200 words
											</li>
											<li>
												Key words should be between 2 and 5


											</li>
											<li>
												Introduction
											</li>
											<li>
												Main objective

											</li>
											<li>
												Method
											</li>
											<li>
												Results

											</li>
											<li>
												Discussion
											</li>
											<li>
												References in APA format
											</li>
										</ol>	
									</li>
								</ol>
								<ol>
									<li style="list-style-type:none">
										<b>3. Educational innovation:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Abstract between 150 and 200 words
											</li>
											<li>
												Key words should be between 2 and 5


											</li>
											<li>
												Introduction
											</li>
											<li>
												Objetivos

											</li>
											<li>
												Strategies and techniques
											</li>
											<li>
												Procedures to develop the innovation

											</li>
											<li>
												Evaluation techniques
											</li>
											<li>
												Results (qualitative and quantitative)
											</li>
											<li>
												Conclusions
											</li>
											<li>
												References in APA format
											</li>
										</ol>	
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									Criteria of quality:
								</h4>
								<ol>
									<li>
										<b>Scientifical and academic rigor. </b>
										<br>
										The works presented should be based conceptually (with updated references of the last ten years) and should correspond to the thematic that you are dealing with, including data to support your affirmations. The conclusions should be the result of the deep analysis of the contributed data. 
									</li>
									<li>
										<b>Structure and coherence of the text. </b>
										<br>
										The text should fulfill with the indications of this announcement, it should also take care of the drafting, good orthography, and the established format of the requirements.
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									Scientifical Commitee
								</h4>

								<p>
									The main objective of the Scientifical Commitee of the CIPCHV is to evaluate the quality of the contributions through
								</p>


								<ol style="list-style-type:square">
									<li>
										Announcement the Organizer Commitee of the Congress develop the announcement to receive contributions to the Congress.

									</li>
									<li>
										The Scientifical Commitee with a wide experience in Contemplative Sciences, Education and Health will select the received contributions. 

									</li>
								</ol>
								<p>
									Each received contribution will have 2 evaluations to determine if the work is either accepted or not and will be published in the memories.




								</p>
								<p>
									<b>
										The two best articles will be awarded in the following categories: teorical analisys, empirical research and educational innovation. Both will be published in an indexed magazine from the Faculty of Psicology, from Plantel 8, Miguel E Schulz and from Colegio de Ciencias y Humanidades.  
									</b>
								</p>
								<p>
									The results of the award will be unappealable and will be given during the closing of the event.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									General aspects
								</h4>

								<ol>
									<li>
										The Congress (CIPCHV) is <b>totally free</b> and an electronic registration should be done in the page cipchv.habilidadesparaadolescentes.com either as an assistant or a speaker from December 18th 2017.  

									</li>
									<li>
										The responsible Institutions will emit the diplomas of participation either as speaker or as an assistant. The diplomas of the assistants will be digital and will be sent by email.

									</li>
									<li>
										The works will be part of the cultural collection of the Psycologic Faculty, the Escuela Nacional Preparatoria and Colegio de Ciencias y Humanidades of the UNAM.
									</li>
									<li>

										The authors will assign their copyright for the memories and in the magazines.
									</li>
								</ol>
								
								<p>
									<b>For clarifications contact: cipchv@gmail.com</b>

								</p>
								<p class="text-center">
									<b>
									SINCERELY
									</b>
								</p>
								<p class="text-center">
									<b>
									Organizer Commitee
									</b>
								</p>

							</div>
							
							
										


						</div>
											
						
						
						
					</div> 	   <!-- End row -->						
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT -->	
	
{%endblock%}
{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}