
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
			<section id="comite-organizador" class="wide-50 comite-organizador-section division">
				<div class="container">	
					<!-- ABOUT TTITLE --> 	
					<div class="row m-bottom-30">
						<div class="col-md-12 about-title">
							
							<!-- Title -->
							
							 
							<h3 class="h3-thin text-center">
								COMITÉ ORGANIZADOR 

							</h3>
							
							
						</div> 						
					</div>
					<div class="row">
						<div class="col-md-12 about-txt m-bottom-50">
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">PRESIDENTES</h4>
								
								
								
								<Ul>
									<li>
										Dr. Germán Palafox Palafox<br>
										(Faculta de Psicología, UNAM)

									</li>
									<li>
										Arq. Ángel Huitrón Bernal<br>
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)
									</li>
									

								</Ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COORDINADORAS GENERALES</h4>
								
								
								
								<Ul>
									<li>
										Dra. Gabina Villagrán Vázquez<br>
										(Facultad Psicología, UNAM)

									</li>
									<li>
										Dra. Lilia Bertha Alfaro Martínez<br> 
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)

									</li>
									

								</Ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COORDINADORES DE PROGRAMACIÓN CIENTÍFICA Y LOGÍSTICA</h4>
								
								
								
								<Ul>
									<li>
										Mtro. José Alberto Martínez Alcaraz <br>
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)



									</li>
									<li>
										Mtra. Martha Elba Sánchez Oviedo <br>
										(Plantel 1, Gabino Barreda, ENP, UNAM)

									</li>
									<li>
										Alicia López Montes de Oca 
										(Colegio de Ciencias y Humanidades, UNAM)<br>
									</li>
									

								</Ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COORDINADOR ADMINISTRATIVO</h4>
								
								
								
								<Ul>
									<li>
										Lic. Guillermo Huerta Juárez<br> 
										(Facultad de Psicología, UNAM)

									</li>
									
									

								</Ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COMITÉ DE LOGÍSTICA</h4>
								
								
								
								<Ul>
									<li>
										Lic. Ana Laura Gómez y Montes de Oca <br> 
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)




									</li>
									<li>
										Lic. Antonio Esteban Gómez Allen<br> 
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)




									</li>
									<li>
										Mtra. María de Jesús González Pérez<br> 
										(Plantel 8, Miguel E. Schulz, ENP, UNAM) 




									</li>
									<li>
										Lic. Gabriela G. Cortez Vázquez<br> 
										(Facultad de Psicología, UNAM)




									</li>
									<li>
										Pisc. Arturo López Palacios<br> 
										(Facultad de Psicología, UNAM)




									</li>
									<li>
										Pisc. Priscila B. Acuña Mondragón <br> 
										(Facultad de Psicología, UNAM)




									</li>
									

								</ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COMITÉ DE EVENTOS CULTURALES</h4>
								
								
								
								<Ul>
									<li>
										Lic. Gerardo Servín Vivar<br>
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)


									</li>
									
									

								</Ul>
								
							</div>
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COMITÉ DE INFORMÁTICA</h4>
								
								
								
								<Ul>
									<li>
										Ing. Jaime Rosas Rosas
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)<br>



									</li>
									<li>
										Ing. Omar Sánchez Lagunas<br>
										(Plantel 8, Miguel E. Schulz, ENP, UNAM)

									</li>
									

								</Ul>
								
							</div> 
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">COMITÉ DE DIFUSIÓN E INSCRIPCIONES</h4>
								
								
								
								<Ul>
									<li>
										Ing. Adrián Solano Robles<br>
										Proyecto PAPIME PE306017




									</li>
									
									

								</Ul>
								
							</div>
						</div>
					</div>	
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}