
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="confirmacion-asistente" class="wide-50 confirmacion-asistente-section division">
				<div class="container">	
					<div class="row">
						<div class="col-md-12 about-txt m-bottom-50">
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">CONFIRMACIÓN DE REGISTRO</h4>
								
								<h3>{{nombre_completo}}</h3>
								<br>
								<h3>Folio: {{folio}}</h3>
								<br>
								<p>Tu registro como asistente al:</p>
								
								<h3>IV Encuentro Interinstitucional de Profesores "Desarrollo de Habilidades para la Vida en el Salón de Clases" y al 1er. Congreso Internacional de Psicología Contemplativa y Habilidades para la Vida.</h3>
								<br>
								<p>Se ha completado con éxito.</p>

								<p>Te esperamos en:</p>
								
								<p>
								Plantel 8 “Miguel E. Schulz“, UNAM<br>
								Av. Lomas de Plateros s/n esq. Francisco de P. Miranda, Col. Merced Gómez,<br>
								Delegación Álvaro Obregón<br>
								</p>
								<p>
									Del 28 al 30 de mayo de 2018<br>
									Horario: 9:00 a 1​9:00 horas
								</p>
								<p>
									Atentamente<br>
									La Coordinación
								</p>
								
								
							</div>
						</div>	
					<div>
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}