
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}

<section id="about" class="wide-50 about-section division">
				<div class="container">	


					<!-- ABOUT TTITLE --> 	
					<div class="row m-bottom-30">
						<div class="col-md-8 about-title">
							
							<!-- Title -->
							
							<h3 class="h3-thin text-center">
								IV Encuentro Interinstitucional de Profesores "Desarrollo de Habilidades para la Vida en el Salón de Clases" 
							</h3> 
							<h3 class="h3-thin text-center">
								1er. Congreso Internacional de Psicología Contemplativa y Habilidades para la Vida 

							</h3>
							<h4 class="h4-thin text-center">Hacia una educación consciente</h4>
							<h4 class="h4-thin text-center">Del 28 al 30 de mayo de 2018</h4>
							<br>
							<h4 class="h4-thin text-center">
								Escuela Nacional Preparatoria, Plantel 8, Miguel E. Schulz, Facultad de Psicología
							</h4>
							<h4 class="h4-thin text-center">
								Universidad Nacional Autónoma de México
							</h4>
							<h4 class="h4-thin text-center">
								Proyecto PAPIME PE306017
							</h4>
							<br>
							<h4 class="h4-thin text-center">
								Sede: 

							</h4>
							<h4 class="h4-thin text-center">
								Plantel 8, Miguel E. Schulz, ENP
							</h4>
							<h4 class="h4-thin text-center">
								CDMX, México.

							</h4>
							
							
						</div> 						
					</div>	

				
					<div class="row">
					
							
						<!-- ABOUT TEXT -->
						<div class="col-md-12 col-lg-8 about-txt m-bottom-50">

						
							<!-- TEXT BLOCK #1 --> 
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h4-lg">Objetivos Generales:</h4>
								
								
								
								<ol>
									<li>
										Analizar el impacto de la educación consciente en la formación integral.
									</li>
									<li>
										Compartir experiencias de investigación de las ciencias contemplativas aplicadas a la salud y la educación.
									</li>
									<li>
										Reflexionar sobre experiencias docentes en el desarrollo de habilidades para la vida. 
									</li>

								</ol>
								<br>
								<p>
									Dirigido a investigadores, docentes, estudiantes y personas interesadas en las ciencias contemplativas, la educación consciente y el desarrollo de habilidades para la vida en la formación integral.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Bases</h4>

								<p>
									Se podrá participar como ponentes en las siguientes áreas:
								</p>

								<ol>
									<li>
										<b>Análisis teórico en Ciencias Contemplativas.</b> El objetivo es hacer una revisión crítica, sistemática y de calidad de publicaciones o trabajos relevantes en educación y salud que han aplicado metodologías vinculadas a las Ciencias Contemplativas.
									</li>
									<li>
										<b>Investigación en ciencias contemplativas.</b> El objetivo es presentar resultados de investigaciones empíricas donde se utilizaron metodologías vinculadas a las ciencias contemplativas.
									</li>
									<li>
										<b>Análisis teórico sobre el desarrollo de habilidades para la vida.</b> El objetivo es hacer una revisión crítica, sistemática y de calidad de publicaciones o trabajos relevantes sobre el desarrollo de habilidades para la vida en la formación integral. 

									</li>
									<li>
										<b>Innovación en educación.</b> El objetivo es presentar experiencias empíricas en las que se utilicen estrategias didácticas para desarrollar habilidades para la vida en la formación integral.
									</li>

								</ol>
								<p>
									La contribuciones pueden ser realizadas individualmente o en equipo con un máximo de tres autores.
								</p>
								<p>
									<b>Fecha para el envío de las contribuciones:</b> del 18 de Diciembre de 2017 al 16 de Abril de 2018. En la página del Congreso: <b>cipchv.habilidadesparaadolescentes.com</b> 
								</p>
								<p>
									Los resultados de la aceptación se darán a conocer vía correo electrónico a partir del 15 de Enero y hasta el 30 de Abril de 2018.
								</p>
								<p>
									<b>Duración de la ponencia:</b> 15 minutos<br>
									<b>Mecánica de las ponencias:</b> Se contará con 10 minutos de exposición y 5 minutos de preguntas.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Líneas temáticas</h4>
								<p>
									El responsable de la ponencia deberá seleccionar alguna de las siguientes líneas temáticas para la presentación de su trabajo:
								</p>
								<ol>
									<li style="list-style-type:none"><b>1. Ciencias Contemplativas</b></li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Análisis teórico (CCAT)

											</li>
											<li>
												Investigación empírica en educación (CCIE)

											</li>
											<li>
												Investigación empírica en la salud (CCIS)

											</li>

										</ol>
									</li>
									<li style="list-style-type:none"><b>2. Habilidades para la vida</b> </li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												Análisis teórico sobre el desarrollo de habilidades para la vida. (HVAT)
											</li>
											<li>
												Innovación en educación.

											</li>
											<li style="list-style-type:none">
												<ol style="list-style-type:disc">
													<li>
														Estrategias de enseñanza y desarrollo de habilidades para la vida (IEHVE)
													</li>
													<li>
														Habilidades socioemocionales (IEHSE)

													</li>
													<li>
														Habilidades cognoscitivas (IEHC)

													</li>
													<li>
														Habilidades de investigación en ciencias(IEHIC)

													</li>
													<li>
														Habilidades de investigación en humanidades (IEHIH)

													</li>
													<li>
														Evaluación de habilidades para la vida (IEEHV)
													</li>
												</ol>
											</li>
										</ol>
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">Requisitos</h4>
								<p>
									<b>
										Formato de entrega de las contribuciones:

									</b>
								</p>
								<ol>
									<li>
										Extensión  mínima de 7 y máxima de 10 cuartillas que incluyen el resumen y referencias.
									</li>
									<li>
										Presentar el documento en formato Word .docx.	
									</li>
									<li>
										Debe de ser escrito a una sola columna, con margen 2.5 arriba, abajo, izquierdo, derecho.										
									</li>
									<li>
										Debe de ser escrito a un espacio y medio.										
									</li>
									<li>
										Usar letra tipo Arial 12 para el título y los autores.
									</li>
									<li>
										Usar letra tipo Arial 11 para el texto.										
									</li>
									<li>
										Los subtítulos deber ir en negritas alineados al margen izquierdo.
									</li>
									<li>
										Sangría de un centímetro en la primera línea de cada párrafo.
									</li>
									<li>
										No usar número de página en el documento.
									</li>
									<li>
										La contribución deberá hacerse en español o inglés.
									</li>
									<li>
										El título, nombre de los autores (máximo tres autores) y filiación deberán ir centrados al inicio de la primera página, seguido del resumen y palabras claves.
									</li>


								</ol>
								<p>
									<b>Acerca del nombre del archivo:</b>

								</p>								
								<ol>
									<li>
										Debe de ser enviado por el primer autor con su apellido paterno e inicial de su(s) nombre (s) y la clave de la línea temática elegida por ejemplo: Martínez_JC_(HVAT)
									</li>
									<li>
										Si la contribución incluye imágenes, fotografías y/o tablas, deberán incluirse en el texto.
									</li>
									


								</ol>
								<p>
									<b>Tipos de contribuciones y secciones a desarrollar</b>

								</p>
								<ol>
									<li style="list-style-type:none">
										<b>1. Análisis teórico:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												El resumen  entre 150 y 200 palabras.
											</li>
											<li>
												Palabras clave: entre 2 y 5.


											</li>
											<li>
												Introducción
											</li>
											<li>
												Objetivo

											</li>
											<li>
												Desarrollo 
											</li>
											<li>
												Conclusiones

											</li>
											<li>
												Referencias en formato APA
											</li>
										</ol>	
									</li>
								</ol>

								<ol>
									<li style="list-style-type:none">
										<b>2. Investigación empírica:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												El resumen  entre 150 y 200 palabras.
											</li>
											<li>
												Palabras clave: entre 2 y 5.


											</li>
											<li>
												Introducción
											</li>
											<li>
												Objetivo

											</li>
											<li>
												Método
											</li>
											<li>
												Resultados

											</li>
											<li>
												Discusión
											</li>
											<li>
												Referencias en formato APA
											</li>
										</ol>	
									</li>
								</ol>
								<ol>
									<li style="list-style-type:none">
										<b>3. Innovación educativa:</b>
									</li>
									<li style="list-style-type:none">
										<ol style="list-style-type:square">
											<li>
												El resumen  entre 150 y 200 palabras.
											</li>
											<li>
												Palabras clave: entre 2 y 5.


											</li>
											<li>
												Introducción
											</li>
											<li>
												Objetivos

											</li>
											<li>
												Estrategias y Técnicas
											</li>
											<li>
												Procedimientos para desarrollar la innovación

											</li>
											<li>
												Técnicas de evaluación.
											</li>
											<li>
												Resultados (cualitativos o cuantitativos).
											</li>
											<li>
												Conclusión
											</li>
											<li>
												Referencias en formato APA
											</li>
										</ol>	
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									Criterios de calidad
								</h4>
								<ol>
									<li>
										<b>Rigor científico y académico.</b>
										<br>
										Los trabajos presentados deben fundamentarse conceptualmente (con referencias actualizadas de los últimos diez años) y correspondientes la temática que se está manejando, incluyendo datos que sustenten las afirmaciones. Las conclusiones deben ser resultado del análisis profundo de los datos aportados. 
									</li>
									<li>
										<b>Estructura y coherencia del texto. </b>
										<br>
										El texto debe cumplir con las indicaciones de esta convocatoria, cuidar la redacción y ortografía, cumplir con el formato establecido en los requisitos.
									</li>
								</ol>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									Comité Científico
								</h4>

								<p>
									El principal objetivo del Comité Científico del CIPCHV es evaluar la calidad de las contribuciones a través de:
								</p>


								<ol style="list-style-type:square">
									<li>
										Convocatoria. El Comité Organizador del Congreso desarrolla la convocatoria para recibir contribuciones al Congreso.

									</li>
									<li>
										El Comité Científico con amplia experiencia en ciencias contemplativas, educación y salud seleccionará las contribuciones recibidas. 

									</li>
								</ol>
								<p>
									Cada contribución recibida tendrá 2 evaluaciones para determinar si el trabajo es aceptado y publicado en las memorias.




								</p>
								<p>
									<b>
										Se premiará a los dos mejores artículos en las siguientes categorías: análisis teórico, investigación empírica e innovación educativa con su publicación en una revista indexada de la Facultad de Psicología, del Plantel 8, Miguel E. Schulz y del Colegio de Ciencias y Humanidades. 
									</b>
								</p>
								<p>
									Los resultados de la premiación serán inapelables y se darán a conocer en la clausura del evento.
								</p>
							</div>
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
								<h4 class="h4-lg text-center">
									Aspectos Generales
								</h4>

								<ol>
									<li>
										El Encuentro y el  Congreso <b>son totalmente gratuitos.</b>  

									</li>
									<li>
										Se deberá hacer un registro electrónico en la página cipchv.habilidadesparaadolescentes.com ya sea como asistente y/o ponente a partir del 18 de Diciembre de 2017. 
									</li>
									<li>
										Las Instituciones responsables emitirán las constancias de participación como ponente y/o asistente. Las constancias de asistentes serán digitales y se enviarán vía correo electrónico.

									</li>
									<li>
										Los trabajos pasarán a formar parte al acervo cultural de la Facultad de Psicología, de la Escuela Nacional Preparatoria y del Colegio de Ciencias y Humanidades de la UNAM.
									</li>
									<li>

											Los autores cederán los derechos para su publicación en las memorias y en las revistas.
									</li>
								</ol>
								
								<p>
									<b>Dudas y aclaraciones comunicarse al correo: cipchv@gmail.com</b>

								</p>
								<p class="text-center">
									<b>
									ATENTAMENTE
									</b>
								</p>
								<p class="text-center">
									<b>
									Comité organizador
									</b>
								</p>

							</div>
							
							
										


						</div>
						<!-- ABOUT IMAGES -->
						<div class="col-md-12 col-lg-4 m-bottom-50"> 
						
						
							<!-- Image #1 --> 
							<div class="about-image m-bottom-20">
								<div class="hover-overlay"> 
								
									<!-- Image Link -->
									<img class="img-responsive" src="http://dsathemes.com/html/eventry/files/images/thumbs/about-1.jpg" alt="about-image"/>
									
									<!-- Image Zoom -->
									<a class="image-link" href="http://dsathemes.com/html/eventry/files/images/thumbs/about-1.jpg" title="Nemo ipsam egestas volute fugit dolores quaerat">	
										<div class="item-overlay"></div>												
									</a>																
									
								</div> 	
							</div> 
							
							
							<!-- Image #2 --> 
							<div class="about-image m-bottom-20">
								<div class="hover-overlay"> 
								
									<!-- Image Link -->
									<img class="img-responsive" src="http://dsathemes.com/html/eventry/files/images/thumbs/about-2.jpg" alt="about-image"/>
									
									<!-- Image Zoom -->
									<a class="image-link" href="http://dsathemes.com/html/eventry/files/images/thumbs/about-2.jpg" title="Nemo ipsam egestas volute fugit dolores quaerat">	
										<div class="item-overlay"></div>												
									</a>	
									
								</div> 	
							</div> 
							
							
							<!-- Image #3 --> 
							<div class="about-image">
								<div class="hover-overlay"> 
								
									<!-- Image Link -->
									<img class="img-responsive" src="http://dsathemes.com/html/eventry/files/images/thumbs/about-3.jpg" alt="about-image"/>
									
									<!-- Image Zoom -->
									<a class="image-link" href="http://dsathemes.com/html/eventry/files/images/thumbs/about-3.jpg" title="Nemo ipsam egestas volute fugit dolores quaerat">	
										<div class="item-overlay"></div>												
									</a>	
									
								</div> 	
							</div> 
							
						
						</div> 
						
						
						
						
					</div> 	   <!-- End row -->						
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT -->	
	
{%endblock%}
{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}
