
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="programa" class="wide-50 programa-section division">
				<div class="container">	
				
				<!-- SCHEDULE DOWNLOAD BUTTON -->
					<div class="row m-top-50">
						<div class="col-md-12 schedule-download text-center">
							<a href="{% static 'images/programa_EHV_y_CIPC_esp.pdf'%}" target="_blank" class="btn btn-lg">Descarga el programa</a>
						</div>
					</div>	
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}