
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="programa" class="wide-50 programa-section division">
				<div class="container">	
					
				<!-- SCHEDULE DOWNLOAD BUTTON -->
					<div class="row m-top-50">

						<div class="col-md-12 schedule-download text-center">
							<a href="http://www.habilidadesparaadolescentes.com/archivos/programa.pdf" target="_blank" class="btn btn-lg">De mano</a>
							<br>
							<br>
							<a href="http://www.habilidadesparaadolescentes.com/archivos/mesas_de_expertos.pdf" target="_blank" class="btn btn-lg">Mesas de expertos</a>
							<br>
							<br>
							<a href="http://www.habilidadesparaadolescentes.com/archivos/de_talleres.pdf" target="_blank" class="btn btn-lg">De talleres</a>
							<br>
							<br>
							<a href="http://www.habilidadesparaadolescentes.com/archivos/mesas_de_trabajo.pdf" target="_blank" class="btn btn-lg">Mesas de trabajo</a>
						</div>
						
						
						
					</div>
						
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}