
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="registro" class="wide-50 registro-section division">
				<div class="container">	
				
				
					<!-- SECTION TITLE -->				
					<div class="row">
						<div class="col-md-10 col-md-offset-1 section-title">
						
							<!-- Title -->
							<h3>Registro</h3>	
							<p>El Congreso es totalmente gratuito se deberá hacer un registro ya sea como asistente y/o ponente</p>	
														
						</div>
					</div>

				
					<div class="row pricing-row">
					
					
						<!-- PRICE PLAN INITIAL -->
						<div class="col-md-4 m-bottom-50">
							<div class="pricing-table text-center">		
								
								<!-- Table Header  -->
								<h3>Registro como ponente</h3>

								
										
								<!-- Table Button  -->
								<a href="#" class="btn btn-lg btn-tra">Clic aquí</a>

							</div>
						</div>	<!-- END PRICE PLAN INITIAL -->
						
						
						
						<!-- PRICE PLAN GOLDEN -->
						<div class="col-md-4 m-bottom-50">
							<div class="pricing-table text-center">		
								
								<!-- Table Header  -->
								<h3>Registro como asistente</h3>

								<!-- Plan Price  -->
								
										
								<!-- Table Button  -->
								<a href="#" class="btn btn-lg btn-tra">Clic aquí</a>

							</div>
						</div>	<!-- END PRICE PLAN GOLDEN -->
						
						
					</div>	 <!-- End row -->	
					
					
					<!-- PRICING NOTICE MESSAGE -->	
					<div class="row">
						<div class="col-md-12 text-center pricing-notice m-bottom-50">
							<p>¿Necesitas información adicional sobre el congreso? <a href="mailto:support@example.com">Contactanos</a> </p>
						</div>
					</div>	 <!-- End row -->	
					
					
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}