
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="registro" class="wide-50 registro-section division">
				<div class="container">	
				
				
					<!-- SECTION TITLE -->				
					<div class="row">
						<div class="col-md-10 col-md-offset-1 section-title">
						
							<!-- Title -->
							<h3>Registro</h3>	
							<p>El Congreso es totalmente gratuito se deberá hacer un registro ya sea como:</p>	
														
						</div>
					</div>

				
					<div class="row pricing-row">
					
					
						<!-- PRICE PLAN STANDARD -->
						<div class="col-md-4 m-bottom-50">	
							<div class="pricing-table text-center highlight">
								
								
								<!-- Table Header  -->
								<h3>Asistente</h3>
								<div class="down-arrow"></div>

								
										
								<!-- Table Button  -->
								<a href="{% url 'landing:asistentes_new'%}" class="btn btn-lg">Registrate aquí</a>

							</div>
						</div>	<!-- END PRICE PLAN STANDARD -->
						<!-- PRICE PLAN STANDARD -->
						<div class="col-md-4 m-bottom-50 text-center">
							<h3>y/o</h3>
						</div>
						<div class="col-md-4 m-bottom-50">	
							<div class="pricing-table text-center highlight">
								
								
								<!-- Table Header  -->
								<h3>Ponente</h3>
								<div class="down-arrow"></div>

								
										
								<!-- Table Button  -->
								<a href="{% url 'landing:ponentes_new'%}" class="btn btn-lg">Registrate aquí</a>

							</div>
						</div>	<!-- END PRICE PLAN STANDARD -->
						
					</div>	 <!-- End row -->	
					
					
					<!-- PRICING NOTICE MESSAGE -->	
					<div class="row">
						<div class="col-md-12 text-center pricing-notice m-bottom-50">
							<p>¿Necesitas información adicional sobre el congreso? <a href="mailto:support@example.com">Contactanos</a> </p>
						</div>
					</div>	 <!-- End row -->	
					
					
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}