
{% extends 'base.html' %}
{% load staticfiles %}

{%block content%}
<section id="confirmacion-asistente" class="wide-50 confirmacion-asistente-section division">
				<div class="container">	
					<div class="row">
						<div class="col-md-12 about-txt m-bottom-50">
							<div class="about-txt-block p-bottom-10 m-bottom-30 b-bottom">
									
								<!-- Title --> 									
								<h4 class="h3-lg">
                                    Lo sentimos, no se ha podido completar el registro. Intente con otro Taller.
                                </h4>
								
								
								
								
							</div>
						</div>	
					<div>
				</div>    <!-- End container -->		
			</section>	<!-- END PRICING -->
{%endblock%}

{%block extrajs%}
<script type="text/javascript">

	$(document).ready(function() {

	$(".header .navbar.navbar-fixed-top").addClass("scroll");

	});
	
</script>



{%endblock%}